<main>
   <div class="container">
      <div class="row"></div>
         <div class ="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
         <h2> User editing </h2>
         <div class="alart">
           <% if @user.errors.any? %>
              <%= @user.errors.count %>error prohibited this obj from being saved:
              <% @user.errors.full_messages.each do |message| %>
              <%= message %>
              <% end %>
          <% end %>
        </div>
        
    <%= form_with model:@user, local:true ,url:new_user_registration_path do |f| %>
       <p>Name</p>
         <%= f.text_field :name %>
        <p>画像</p>
         <%= f.attachment_field :profile_image%>
        <p>Introduction</p>
         <%=f.text_area :introduction %>
         <%= f.submit 'Update User',class:"btn btn-success" %>
        <% end %>
      </div>
    </div>
</main>