<div class="Userinfo">
  <h2>User info</h2>
  
  <div class="Userimag">
    <%= attachment_image_tag @user, :image, format: 'jpeg', size: '100x100' %>
  </div>
  
  <table>
    <tbody>
      <tr>
        <th>name</th>
        <th><%= @user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= @user.profile %></th>
      </tr>
    </tbody>
  </table>
  <p><%=link_to'編集', edit_user_registration_path(current_user.id) %></p>
</div>

<div class="New book">
  <h2>User info</h2>
  <label for="book_title">Title</label>
  <label for="book_opinion">Opinion</label>
  <p>createbook</p>
</div>

<div class="Books">
  <h2>Books</h2>
  <table>
    </thead>
     <th>image</th>
       <th>name</th>
       <th colspan="3"></th>
    </thead>
      <% @users.each do |f| %>
        <th><%= attachment_image_tag @user, :image, format: 'jpeg', size: '100x100' %></th>
        <th><%=f.name%></th>
        <th><%= link_to'show',user_path(@user) %></th>
      <% end %>
    <tbody>
      
    </tbody>
  </table>
  
  
</div>
  