<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto" >
        <div class="alart">
             <% if @book.errors.any? %>
                <%= @book.errors.count %>error prohibited this obj from being saved:
                <% @book.errors.full_messages.each do |message| %>
                <%= message %>
                <% end %>
            <% end %>
          </div>
        <h1>Editing Book</h1>
          <%= form_with model: @book, local:true do |f| %>
            <p>Title</p>
            <%= f.text_field :title, autofocus: true, :placeholder =>"f.title" %>
            <p>orinion</p>
            <%= f.text_area :body,:placeholder =>"f.body"  %>
            <%= f.submit 'Update Book',class:"btn btn-success" %>
            <% end %>
            <%= link_to "Show",book_path(@book)%>
            |
            <%= link_to "Back",books_path%>
      </div>
    </div>
  </div>
</main>
