<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/c3fbb4b704.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <nav class="navbar navbar-expand navbar-light bg-info">
     <ul class="navbar-nav mr-auto">　
      <h1><%= link_to 'Bookers',root_path %></h1>
      
    <% if user_signed_in? %>
    </ul>　
     <ul class="navbar-nav">
        <li　class="nav-item">
          <%= link_to mypage_path(current_user.id) do %>
          <i class="fas fa-igloo">Home</i> 
          <% end %>
        </li>
  
        <li　class="nav-item">
          <%= link_to users_path do %>
           <i class="fas fa-child">Users</i> 
          <% end %>
        </li>
    
         <li　class="nav-item">
          <%= link_to users_path do %>
           <i class="fas fa-book-open">Books</i> 
          <% end %>
        </li>
        
         <li　class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete do %>
           <i class="fas fa-sign-out-alt">Log out</i> 
          <% end %>
        </li>
        
      <% else %>
      
        <li　class="nav-item">
          <%= link_to root_path do %>
          <i class="fas fa-igloo">Home</i> 
          <% end %>
        </li>
        
         <li　class="nav-item">
          <%= link_to home_about_path do %>
          <i class="fas fa-igloo">About</i> 
          <% end %>
        </li>
        
        
          <li　class="nav-item">
          <%= link_to new_user_registration_path do %>
          <i class="fas fa-igloo">Sign up</i> 
          <% end %>
        </li>
        
          <li　class="nav-item">
          <%= link_to new_user_session_path do %>
          <i class="fas fa-igloo">Log in</i> 
          <% end %>
        </li>
        
        </ul>
    <% end %>

 
    </ul>
  </nav>
  
  
      <%= render 'layouts/flash_message' %>
    <%= yield %>
  </body>
  
  <footer>
    <div class="mx-auto" style="width: 200px;">
      <p>Copyright Infratop.inc</p>
    </div>
  </footer>
</html>



